<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>org.enchere.eni.test.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <display-name>TrocEnchere</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>org.enchere.eni.c.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>org.enchere.eni.c.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>org.enchere.eni.c.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/creation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidNew</display-name>
    <servlet-name>BidNew</servlet-name>
    <servlet-class>org.enchere.eni.c.BidNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidNew</servlet-name>
    <url-pattern>/bidNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>org.enchere.eni.c.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidDetails</display-name>
    <servlet-name>BidDetails</servlet-name>
    <servlet-class>org.enchere.eni.c.BidDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidDetails</servlet-name>
    <url-pattern>/bidDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTestDAL</display-name>
    <servlet-name>ServletTestDAL</servlet-name>
    <servlet-class>org.enchere.eni.test.ServletTestDAL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTestDAL</servlet-name>
    <url-pattern>/ServletTestDAL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.enchere.eni.c.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccount</display-name>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>org.enchere.eni.c.UpdateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>org.enchere.eni.c.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggedUser</display-name>
    <filter-name>LoggedUser</filter-name>
    <filter-class>org.enchere.eni.m.security.filters.LoggedUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggedUser</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/errorForbidden.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdminPanel</display-name>
    <servlet-name>AdminPanel</servlet-name>
    <servlet-class>org.enchere.eni.c.AdminPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanel</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategory</display-name>
    <servlet-name>AdminCategory</servlet-name>
    <servlet-class>org.enchere.eni.c.AdminCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategory</servlet-name>
    <url-pattern>/admin/categories</url-pattern>
  </servlet-mapping>
</web-app>